@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 monitor-div-left">
            <div class="monitor-left-div-title"><span>库房环境管理</span></div>
     
                   <div class="">
                <div class="col-md-1 monitor-div-sub">资<br />料<br />在<br />库</div>
                <div class="col-md-11 panel panel-default monitor-div-corner">
                    <div class="">
                        <div id="div1" class="col-md-4 col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da1.png" /></a>
                            <p><span>总档数</span></p>
                            <p><span>12023</span></p>

                        </div>
                        <div id="div2" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da2.png" /></a>

                            <p>
                                <span>总盒数</span>
                            </p>
                            <p> <span>12023</span></p>
                        </div>
                        <div id="div3" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da3.png" /></a>

                            <p><span>总件数</span></p>
                            <p></p><span>12023</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-md-1 monitor-div-sub">资<br />料<br />借<br />阅</div>
                <div class="col-md-11 panel panel-default monitor-div-corner">
                    <div class="">
                        <div id="div1" class="col-md-4 col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da1.png" /></a>
                            <p><span>总档数</span></p>
                            <p><span>12023</span></p>

                        </div>
                        <div id="div2" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da2.png" /></a>

                            <p>
                                <span>总盒数</span>
                            </p>
                            <p> <span>12023</span></p>
                        </div>
                        <div id="div3" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da3.png" /></a>

                            <p><span>总件数</span></p>
                            <p></p><span>12023</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-md-1 monitor-div-sub">资<br />料<br />待<br />销<br/>毁</div>
                <div class="col-md-11 panel panel-default monitor-div-corner">
                    <div class="">
                        <div id="div1" class="col-md-4 col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da1.png" /></a>
                            <p><span>总档数</span></p>
                            <p><span>12023</span></p>

                        </div>
                        <div id="div2" class="col-md-4  col-sm-4 monitor-div-nav1">
                            <p>
                                <span></span>
                            </p>
                            <p> <span></span></p>
                        </div>
                        <div id="div3" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da3.png" /></a>

                            <p><span>总件数</span></p>
                            <p></p><span>12023</span></p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="">
                <div class="col-md-1 monitor-div-sub">资<br />料<br />已<br />销<br />毁</div>
                <div class="col-md-11 panel panel-default monitor-div-corner">
                    <div class="">
                        <div id="div1" class="col-md-4 col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da1.png" /></a>
                            <p><span>总档数</span></p>
                            <p><span>12023</span></p>

                        </div>
                        <div id="div2" class="col-md-4  col-sm-4 monitor-div-nav1">
                            <p>
                                <span></span>
                            </p>
                            <p> <span></span></p>
                        </div>
                        <div id="div3" class="col-md-4  col-sm-4 monitor-div-nav1">

                            <a><img src="~/Images/da3.png" /></a>

                            <p><span>总件数</span></p>
                            <p></p><span>12023</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-md-1 monitor-div-sub"></div>
                <div class="col-md-11 panel panel-default monitor-div-corner">
                    <div class="">
                        <div id="div1" class="col-md-12 col-sm-12 monitor-div-nav1">

                            <a><img src="~/Images/da1.png" /></a>
                           <span>三维虚拟库房网址</span>   

                        </div>                        
                       
                    </div>
                </div>
            </div>

         </div>
                 
        
        <div class="col-md-7 monitor-div-right">
            <div class="col-md-12 col-sm-12">
                <div class="monitor-right-div-title-left">
                    <label>库房环境管理</label>
                </div>
                <div class="monitor-right-div-title-right">
                    <label>门禁当日出入库人次</label>
                    <img src="~/Images/ren1.png">
                    <label>90</label>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 monitor-right-div-kf-container">
                <div class="col-md-4 col-sm-4 monitor-right-div-kf">
                    <div class="monitor-right-div-nav1">
                        <div><label class="moitor-right-text-color">库房1</label></div>
                        <div class="monitor-right-div-wd"><img src="~/Images/wd.png" /><label class="monitor-right-div-wd-wz">35°C</label></div>
                        <div><label class="moitor-right-text-color">温度计</label></div>
                        <div class="monitor-right-div-wd"><img src="~/Images/sd.png" /><label class="monitor-right-div-wd-wz">35%</label></div>
                        <div><label class="moitor-right-text-color">湿度值</label></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 monitor-right-div-kf">
                    <div class="monitor-right-div-nav1">
                        <div><label class="moitor-right-text-color">库房2</label></div>
                        <div class="monitor-right-div-wd"><img src="~/Images/wd.png" /><label class="monitor-right-div-wd-wz">35°C</label></div>
                        <div><label class="moitor-right-text-color">温度计</label></div>
                        <div><img src="~/Images/sd.png" /><label class="monitor-right-div-wd-wz">35%</label></div>
                        <div><label class="moitor-right-text-color">湿度值</label></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 monitor-right-div-kf">
                    <div class="monitor-right-div-nav1">
                        <div><label class="moitor-right-text-color">库房3</label></div>
                        <div class="monitor-right-div-wd"><img src="~/Images/wd.png" /><label class="monitor-right-div-wd-wz">35°C</label></div>
                        <div><label class="moitor-right-text-color">温度计</label></div>
                        <div><img src="~/Images/sd.png" /><label class="monitor-right-div-wd-wz">35%</label></div>
                        <div><label class="moitor-right-text-color">湿度值</label></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 monitor-right-div-kfsafe">
                <div class="monitor-right-div-title-left"> <label>库房安全管理</label></div>               
            </div>
            
            <div class="col-sm-12 col-md-12 monitor-right-div-kfsafe-rq" >
                <div class="col-md-3 col-sm-3 ">
                    <div class="monitor-right-div-kfsafe-item">
                        <div class="monitor-right-div-kfsafe-pic"><img src="~/Images/f1.png" /></div>
                        <div class="monitor-right-div-kfsafe-xline"></div>
                        <div>
                            <label>库房当月</label><br /><label>巡检记录</label>
                        </div>
                        <div class="monitor-right-div-kfsafe-count"><label>35</label></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="monitor-right-div-kfsafe-item">
                        <div class="monitor-right-div-kfsafe-pic"><img src="~/Images/f2.png" /></div>
                        <div class="monitor-right-div-kfsafe-xline"></div>
                        <div>
                            <label>库房当月</label><br /><label>巡检记录</label>
                        </div>
                        <div class="monitor-right-div-kfsafe-count"><label>35</label></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="monitor-right-div-kfsafe-item">
                        <div class="monitor-right-div-kfsafe-pic"><img src="~/Images/f3.png" /></div>
                        <div class="monitor-right-div-kfsafe-xline"></div>
                        <div>
                            <label>库房当月</label><br /><label>巡检记录</label>
                        </div>
                        <div class="monitor-right-div-kfsafe-count"><label>35</label></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="monitor-right-div-kfsafe-item">
                        <div class="monitor-right-div-kfsafe-pic"><img src="~/Images/f4.png" /></div>
                        <div class="monitor-right-div-kfsafe-xline"></div>
                        <div>
                            <label>库房当月</label><br /><label>巡检记录</label>
                        </div>
                        <div class="monitor-right-div-kfsafe-count"><label>35</label></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
